
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>
<body>
    {% include '_header.html' %}
    
    {% block content %}
    <main>
        {% if messages %}
        <ul class="messages">
            {% for message in messsages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
                
        </ul>
        {% endif %}
    </main>


        {% endblock %}

    <footer class="footer">
        {% include '_footer.html' %}
    </footer>
</body>
</html>